---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1?language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 22 Mar 2024 03:30:15 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1/reviews?language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 22 Mar 2024 03:30:15 GMT
recorded_with: VCR 6.2.0
