<h1>Viewing Party</h1>
<h2><%= @facade.movie_info(params[:id])[:title] %></h2>
<%= button_to "Discover Page", user_discover_index_path, method: :get %>
<br>
<%= button_to "Create Viewing Party for #{@facade.movie_info(params[:id][:title])} Page", user_discover_index_path, method: :get %>
<br>
