---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1090265?language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c19c21c4899cc4badf7add13266575f7
      X-Memc-Age:
      - '19858'
      X-Memc-Expires:
      - '4827'
      Etag:
      - W/"48da4ef798b19b2400acdae8b310fe64"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":80,"name":"Crime"}],"homepage":"","id":1090265,"imdb_id":"tt12793888","original_language":"en","original_title":"Porter","overview":"An
        aging and mute rodeo clown struggles between macabre dreams and reality.","popularity":1.837,"poster_path":"/nUv3wjneRP6Eu6jQNjpZzPZAow0.jpg","production_companies":[{"id":194091,"logo_path":null,"name":"Pristine
        Entertainment Ltd.","origin_country":""}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"}],"release_date":"","revenue":0,"runtime":82,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Good
        clowns, Bad clowns","title":"Porter","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Wed, 20 Mar 2024 02:47:08 GMT
recorded_with: VCR 6.2.0
