<h2><%= @facade.movie.title %></h2>
<%= button_to "Discover Page", user_discover_index_path, method: :get %>
<br>
<h3>Where to watch:</h3>
<table>
  <tr>
    <td>Stream</td>
  </tr>
  <tr>
    
  </tr>
</table>
  <%= image_tag 'http://power.itp.ac.cn/~jmyang/funny/fun4.jpg' %>
