---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/reviews?language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 10bcdee9697f4ecadbdad8d069cf583c
      X-Memc-Age:
      - '4647'
      X-Memc-Expires:
      - '19895'
      Etag:
      - W/"d20323b15f1e989ba89f014a1e22cc23"
    body:
      encoding: ASCII-8BIT
      string: '{"id":240,"page":1,"results":[{"author":"jkbbr549","author_details":{"name":"","username":"jkbbr549","avatar_path":null,"rating":null},"content":"This
        is by far the greatest movie of all time!  Even better than the first Godfather!","created_at":"2015-04-21T11:41:26.541Z","id":"553637669251416518002602","updated_at":"2021-06-23T15:57:34.131Z","url":"https://www.themoviedb.org/review/553637669251416518002602"},{"author":"Matthew
        Dixon","author_details":{"name":"Matthew Dixon","username":"matthewdixon","avatar_path":"/Af7sJr2dLx38npWMIaDzVmdzwd4.jpg","rating":10.0},"content":"Worthy
        sequel to the first movie. In something more meditative and unhurried, in
        something more philosophically meaningful than its legendary predecessor.
        Backstage games and backstage talks replaced the dramatic mood swings of the
      [...]
