---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1090265?language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c19c21c4899cc4badf7add13266575f7
      X-Memc-Age:
      - '6086'
      X-Memc-Expires:
      - '16207'
      Etag:
      - W/"6ea8cda535a2228aedfd0002c5c5de33"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":80,"name":"Crime"}],"homepage":"","id":1090265,"imdb_id":"tt12793888","original_language":"en","original_title":"Porter","overview":"An
        aging and mute rodeo clown struggles between macabre dreams and reality.","popularity":1.776,"poster_path":"/nUv3wjneRP6Eu6jQNjpZzPZAow0.jpg","production_companies":[{"id":194091,"logo_path":null,"name":"Pristine
        Entertainment Ltd.","origin_country":""}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"}],"release_date":"","revenue":0,"runtime":82,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Good
        clowns, Bad clowns","title":"Porter","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 21 Mar 2024 04:54:53 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1090265/reviews?language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 64fa654978739ba90c2caf639e234fda
      X-Memc-Age:
      - '621'
      X-Memc-Expires:
      - '22012'
      Etag:
      - W/"d25a96f6a5be9d7fc601dc403ca0b909"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1090265,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 21 Mar 2024 04:54:53 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1090265/credits?language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTHENTICATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ba82768956ad4b0f4c0fbe3aa04be82d
      X-Memc-Age:
      - '2129'
      X-Memc-Expires:
      - '21925'
      Etag:
      - W/"3ed786de841f686c242c580c1b00f220"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1090265,"cast":[{"adult":false,"gender":2,"id":1761051,"known_for_department":"Acting","name":"Moishe
        Teichman","original_name":"Moishe Teichman","popularity":3.707,"profile_path":"/1KH5RBAgUkNmVVNL0Wp9pflSYKk.jpg","cast_id":1,"character":"Old
        Clown","credit_id":"63f6557d9661fc00b6e4d65f","order":0},{"adult":false,"gender":2,"id":1376355,"known_for_department":"Acting","name":"Dayleigh
        Nelson","original_name":"Dayleigh Nelson","popularity":7.923,"profile_path":"/q4kzO4l09yPiRDHsRGhgcLx9vgW.jpg","cast_id":2,"character":"Renter/
        Psychopomp","credit_id":"63f6558853f83300c5e482f3","order":1},{"adult":false,"gender":2,"id":1327457,"known_for_department":"Acting","name":"Arpad
        Balogh","original_name":"Arpad Balogh","popularity":11.019,"profile_path":"/qa8lXjPftAtgYg6kxs[...]
[...]
